.markets-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 5%;
}

.markets-container h4 {
    margin: 5px 0 !important;
}

.markets-container h5 {
    margin: 0 !important;
    font-weight: 300;
    font-size: 8pt;
}

.three-col-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.index-box {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(107, 107, 107, 0.1);
}

.index-box-top {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    padding-left: 7px;
}

.index-box-top-right {
    padding-right: 5px;
    text-align: right;
}

#return-positive {
    color: green;
}

#return-negative {
    color: red;
}

.list-container {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(107, 107, 107, 0.1);
}

.list-container h4 {
    padding-left: 5px;
    padding-bottom: 5px;
}

.list-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    font-size: 10pt;
    font-weight: 300;
    padding: 5px 7px;
    border-radius: 3px;
    background-color: rgb(222, 242, 254);
    margin-bottom: 5px;
}

.list-right {
    display: flex;
    justify-content: flex-end;
}

.list-content {
    gap: 5px;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    font-size: 10pt;
    padding: 5px 7px;
}
